<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta name="keywords" content="{{ .Site.Params.keywords }}" />
    <meta name="author" content="João Pedro Sacheti" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    {{ block "main" . }}{{ end }}
    <script src="/js/typing.js"></script>
  </body>
</html>
